@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root {
    --font01: Verdana, Geneva, Tahoma, sans-serif;
    --font02: "Passion One", sans-serif;
    --font03: "Sriracha", cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

html, body{
    min-height: 100vh;
    background-color: darkgray;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    font-family: var(--font02);
    padding-top: 50px;
    font-size: 10vw;
}

header > p {
    font-family: var(--font01);
    padding-bottom: 50px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

section {
    font-family: var(--font03);
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;
    font-size: 5vw;
}

section > p {
    padding-bottom: 2em;
}

section.normal {
    background-color: white;
}

section.imagem {
    background-color: rgb(83, 83, 83);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.452);
    background-size: cover;
    background-attachment: fixed;
}

section.imagem > p {
    display: inline-block;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.404);
    text-shadow: 1px 1px 0px black;
}

section#img01 {
    background-image: url('../imagens/background001.jpg');
    background-position: right center;
}

section#img02 {
    background-image: url('../imagens/background002.jpg');
    background-position: center center;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}